* {
  border: 2px solid red;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.header .logo {
    align-content: center;
    margin-right: auto;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.info {
    display: flex;
    justify-content: center;
}

.abstract {
    display: flex;
    flex-direction: column;
    order: -1;
}

.first {
    display: flex;
}

.quote {
    height: 40%;
}

.footer {
    height: 20%;
}