* {
  border: 2px solid red;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.header .logo {
    align-content: center;
    margin-right: auto;
}
.header {
    display: flex;
    height: 20%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
}