* {
  border: 2px solid red;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 0;
}